body{
background-color: #000000;
color:#F5ECCE;
font: normal 18px "Bookman Old Style", serif;
line-height:1.6em;
margin:0;\width:100%;
height:100%;
}



.fullpage{
background-image:url('../Artwork/kaneki.jpg');
background-position:center;
background-repeat: no-repeat;
width:100%;
height:100%;
margin:auto;
background-size: contain;
}



#main-header{
background-color:black;
color:#F5DA81;
line-height:2em;
}

#navbar{
background-color:black;
color:#FFFFFF;
text-align:center;
font: normal 19px "Comic Sans MS, sans-serif;
}

#navbar li{
display:inline;
}

#navbar a{
text-decoration: none;
font-size:18px;
padding-right:15px;
}


.container{
width:80%;
margin:auto;
text-align:center;
}


.box-1 h3{
color: #6E6E6E;
font-weight:800;
text-decoration:underline;
text-transform:uppercase;
Letter-spacing: 0.2em;
word-spacing: 1em;
}

.box-1 h3{
color: #6E6E6E;
font-weight:800;
text-decoration:underline;
text-transform:uppercase;
Letter-spacing: 0.2em;
word-spacing: 1em;
}


.block{
float:left;
width:33.3%;
border:1px solid #ccc;
padding:10px;
box-sizing: border-box;
}

.block{
float:left;
width:33.3%;
border:1px solid #ccc;
padding:10px;
box-sizing: border-box;
}

#showcase{
background-position: center right;
height:300px;
}

a{
text-decoration: none;
color:#F5ECCE;
}

a:hover{
color: red;
}

.button{
background-color:#333;
color:#fff;
padding:10px 15px;
border:none;
}

.button:hover{
background:red;
color:#fff;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  border: 1px;
  padding: 20px;
  font-size: 16px;
  text-align: center;
}


.footer{
text-align:center;
}

.commissions{
width:60%;
margin:auto;
text-align:center;
font: normal 21px "Comic Sans MS", cursive, sans-serif;
}

.intro{
width:60%;
margin:auto;
text-align:center;
}

.charities{
width:70%;
margin:auto;
text-align:center;
}

.subscribe{
           width:50%;
           margin:auto;
}



  
.box-1{
           padding:50px;


}

.main-header h1{
          font-family:Courier, monospace;
          font-weight:800;
          font-decoration;
.paintings{
           width:50%;
           margin:auto;
}













 






/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

